@using E_Agenda.WebApp.Models

@model AppointmentDetailsViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Detalhes do Compromisso";
}

<div class="page-header">
    <h2 class="page-title">Detalhes do Compromisso</h2>
</div>

<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <div class="mb-4">
                    <h3 class="mb-3">Informações</h3>
                    <div class="row mb-2">
                        <div class="col-4 fw-semibold">Assunto:</div>
                        <div class="col-8">@Model.Topic</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 fw-semibold">Data:</div>
                        <div class="col-8">@Model.Date.ToString("dd/MM/yyyy")</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 fw-semibold">Hora de Início:</div>
                        <div class="col-8">@Model.StartTime.ToString("hh\\:mm")</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 fw-semibold">Hora de Término:</div>
                        <div class="col-8">@Model.EndTime.ToString("hh\\:mm")</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4 fw-semibold">Tipo:</div>
                        <div class="col-8">@Model.Type</div>
                    </div>
                    @if (Model.Type == "Online")
                    {
                        <div class="row mb-2">
                            <div class="col-4 fw-semibold">Link:</div>
                            <div class="col-8">@Model.Link</div>
                        </div>
                    }
                    else if (Model.Type == "Presencial")
                    {
                        <div class="row mb-2">
                            <div class="col-4 fw-semibold">Local:</div>
                            <div class="col-8">@Model.Location</div>
                        </div>
                    }
                    <div class="row mb-2">
                        <div class="col-4 fw-semibold">Contato:</div>
                        <div class="col-8">@Model.ContactName</div>
                    </div>
                </div>
                <div class="d-flex justify-content-end gap-3 mt-4">
                    <a href="/appointments" class="btn btn-secondary">Voltar para a listagem</a>
                </div>
            </div>
        </div>
    </div>
</div>
