@using E_Agenda.WebApp.Models

@model ContactDetailsViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Detalhes do Contato";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">

        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes</h3>

                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Id" class="control-label fs-5">Id:</label>
                    <input name="Id" class="form-control" value="@Model.Id" readonly disabled />
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Name" class="control-label fs-5">Nome:</label>
                    <input name="Name" class="form-control" value="@Model.Name" readonly disabled />
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Email" class="control-label fs-5">Email:</label>
                    <input name="Email" class="form-control" value="@Model.Email" readonly disabled />
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Telephone" class="control-label fs-5">Telefone:</label>
                    <input name="Telephone" class="form-control" value="@Model.Telephone" readonly disabled />
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Role" class="control-label fs-5">Cargo:</label>
                    <input name="Role" class="form-control" value="@Model.Role" readonly disabled />
                </div>
                <div class="form-group d-grid gap-2 mt-3">
                    <label for="Company" class="control-label fs-5">Empresa:</label>
                    <input name="Company" class="form-control" value="@Model.Company" readonly disabled />
                </div>
                <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                    <a href="/contacts">Voltar para a listagem</a>
                </div>
            </div>
        </div>


    </div>
</div>

