@using E_Agenda.WebApp.Models
@model EditExpensesViewModels

@{
    Layout = "_Layout";
    ViewBag.Title = "Editar Despesa";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Register">
                    <h3>Formulário de Edição</h3>

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Description" class="control-label fs-5">Descrição:</label>
                        <input asp-for="Description" class="form-control" value="@Model.Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="When" class="control-label fs-5">Data:</label>
                        <input asp-for="When" class="form-control" value="@Model.When" />
                        <span asp-validation-for="When" class="text-danger"></span>

                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Amount" class="control-label fs-5">Valor:</label>
                        <input asp-for="Amount" class="form-control" value="@Model.Amount" />
                        <span asp-validation-for="Amount" class="text-danger"></span>

                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="PaymentMethod" class="control-label fs-5">Tipo de Pagamento:</label>
                        <input asp-for="PaymentMethod" class="form-control" value="@Model.PaymentMethod" />

                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Category" class="control-label fs-5">Categoria:</label>
                        <input asp-for="Category" class="form-control" value="@Model.Category" />

                    </div>
                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/expenses">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
