@* @using E_Agenda.WebApp.Models

@model ViewExpensesViewModels

@{
    ViewBag.Title = "Lista de Despesas";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/task-list.css" />

<div class="page-header">
    <h2 class="page-title">Lista de Despesas</h2>
</div>

<div class="task-list-actions">
    <a class="btn btn-primary" href="/expenses/register">
        <i class="bi bi-plus"></i> Novo Contato
    </a>
</div>

@if (Model.Expenses == null || Model.Contacts.Count == 0)
{
    <div class="alert-info mt-4">Nenhum contato cadastrado.</div>
}
else
{
    <div class="task-table mt-4">
        <div class="table-header">
            <div>Nome</div>
            <div>Email</div>
            <div>Telefone</div>
            <div>Cargo</div>
            <div>Empresa</div>
            <div>Ações</div>
        </div>
        @foreach (var item in Model.Contacts)
        {
            <div class="table-row">
                <div>@item.Name</div>
                <div>@item.Email</div>
                <div>@item.Telephone</div>
                <div>@item.Role</div>
                <div>@item.Company</div>
                <div class="task-actions">
                    <div class="button-group desktop-only">
                        <a href="/contacts/details/@item.Id" class="btn btn-info" title="Detalhes">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a href="/contacts/edit/@item.Id" class="btn btn-warning" title="Editar">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="/contacts/delete/@item.Id" class="btn btn-danger" title="Excluir">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                    <div class="dropdown mobile-only">
                        <button class="btn btn-dropdown" aria-haspopup="true" aria-expanded="false">⋮</button>
                        <div class="dropdown-menu">
                            <a href="/contacts/details/@item.Id">Detalhes</a>
                            <a href="/contacts/edit/@item.Id">Editar</a>
                            <a href="/contacts/delete/@item.Id">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
} *@